<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
        <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>

        <property name="hibernate.connection.url">jdbc:hsqldb:hsql://localhost/cache_composite</property>

        <property name="current_session_context_class">thread</property>

        <!--<property name="hibernate.cache.provider_class">-->
              <!--net.sf.ehcache.hibernate.EhCacheProvider</property>-->

        <property name="hibernate.cache.use_second_level_cache">true</property>

        <mapping resource="Person.hbm.xml"/>
        <mapping resource="Title.hbm.xml"/>
        <mapping resource="TitleComposite.hbm.xml"/>


    </session-factory>
</hibernate-configuration>